<%- include("partials/header") %>
<div class="center">Country: <%= country %></div>
<form action="/" method="POST" class="center">
    <input type="text" placeholder="Type capital" name="answer"/>
    <input type="submit" value="Send" />
</form>
<%- include("partials/footer") %>