<%- include("partials/header") %>
<div class="center">
    Flag: <span class="flag"><%= flag %></span>
</div>
<form action="/" method="POST" class="center">
    <input type="text" placeholder="Type country" name="answer"/>
    <input type="submit" value="Send" />
</form>
<%- include("partials/footer") %>